<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Portfolio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>register</servlet-name>
	<servlet-class>admin.approval.Registeration</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>register</servlet-name>
	<url-pattern>/admin/registeration.do</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>admin.login.Login</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/admin/login.do</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>Configuration</servlet-name>
	<servlet-class>admin.configuration.ConfigurationController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Configuration</servlet-name>
	<url-pattern>/admin/configuration</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>Notice</servlet-name>
	<servlet-class>admin.notice.NoticeController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Notice</servlet-name>
	<url-pattern>/admin/notice</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>Notice2</servlet-name>
	<servlet-class>admin.notice.NoticeDeleteController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Notice2</servlet-name>
	<url-pattern>/admin/notice-control</url-pattern>
  </servlet-mapping>
  
    <servlet>
	<servlet-name>updateAccess</servlet-name>
	<servlet-class>admin.approval.ApprovalAccessController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>updateAccess</servlet-name>
	<url-pattern>/admin/approval-access</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>Category</servlet-name>
	<servlet-class>admin.category.CategoryController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Category</servlet-name>
	<url-pattern>/admin/category</url-pattern>
  </servlet-mapping>
  
    <servlet>
	<servlet-name>Product</servlet-name>
	<servlet-class>admin.product.ProductController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>Product</servlet-name>
	<url-pattern>/admin/product</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>CategoryCode</servlet-name>
	<servlet-class>admin.category.CategoryCodeController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>CategoryCode</servlet-name>
	<url-pattern>/admin/categorycode</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ProductOverlap</servlet-name>
	<servlet-class>admin.product.ProductOverlapController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>ProductOverlap</servlet-name>
	<url-pattern>/admin/product/overlap</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>ProductCode</servlet-name>
	<servlet-class>admin.product.ProductCodeController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>ProductCode</servlet-name>
	<url-pattern>/admin/product-code/recommand</url-pattern>
  </servlet-mapping>  
  
    <servlet>
	<servlet-name>ProductList</servlet-name>
	<servlet-class>admin.product.ProductListController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>ProductList</servlet-name>
	<url-pattern>/admin/product-list</url-pattern>
  </servlet-mapping>  
  
      <servlet>
	<servlet-name>ProductListDelete</servlet-name>
	<servlet-class>admin.product.ProductDeleteController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>ProductListDelete</servlet-name>
	<url-pattern>/admin/product/delete</url-pattern>
  </servlet-mapping>  
  
    <servlet>
	<servlet-name>ProductCoupon</servlet-name>
	<servlet-class>admin.coupon.CouponController</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>ProductCoupon</servlet-name>
	<url-pattern>/admin/coupon</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
	<servlet-name>CategoryDelete</servlet-name>
	<servlet-class>admin.category.CategoryDeleteWebServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>CategoryDelete</servlet-name>
	<url-pattern>/admin/category/delete</url-pattern>
  </servlet-mapping> 
  
</web-app>